# Backend
backend/tmp/
backend/log/
backend/db/*.sqlite3
backend/db/*.sqlite3-*
backend/.bundle
backend/vendor/bundle
backend/storage/*
!/backend/storage/.keep

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local

# General
.DS_Store
*.log
.env